@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: white;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

section,
nav {
	padding: 0;
}

.quotes:first-child {
	border-top: 1px solid rgb(214, 211, 209);
}

.hero-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.15;
}

.hero-img-desktop {
	background-image: url('./assets/heroimg-desktop.webp');
	background-position: 20% 50%;
}
.hero-img-mobile {
	background-image: url('./assets/heroimg-mobile.webp');
	background-position: 40% 50%;
}

.implementation-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('./assets/implementation-img.webp');
	background-position: 20% 50%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.15;
}

/* section {
	padding-bottom: 40px;
} */

h5 {
	padding-bottom: 10px;
}

label {
	color: #000000;
	font-weight: 400;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type='radio'] {
	appearance: none; /* Usunięcie domyślnego wyglądu radio button */
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none; /* Usunięcie konturu po kliknięciu */
	border-radius: 50%; /* Zaokrąglenie, aby uzyskać kształt koła */
	width: 20px; /* Ustawienie szerokości i wysokości */
	min-width: 20px;
	height: 20px;
	border: 2px solid #0697d6; /* Ustawienie koloru granicy */
	background-color: transparent; /* Transparentne tło */
}

/* Stylowanie kropki wewnątrz radio button po zaznaczeniu */
input[type='radio']:checked::before {
	content: ''; /* Dodanie kropki jako pseudo-elementu */
	display: block;
	width: 8px;
	height: 8px;
	min-width: 8px;
	background-color: #0697d6; /* Kolor kropki */
	border-radius: 50%; /* Zaokrąglenie, aby uzyskać kształt koła */
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

textarea {
	resize: vertical;
	max-height: 300px;
	min-height: 100px;
}